* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bigger-box {
  position: relative;
  width: 1200px;
  height: 900px;
  border: solid aliceblue;
}

.box {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
}
